{% if template contains 'index' %}
 <script type="application/ld+json">
   {
   "@context": "https://schema.org",
   "@type": "ClothingStore",
   "name": "{{ shop.name }}",
   "telephone": "9919982800",
   "priceRange": "best price",
   "address": {
     "@type": "PostalAddress",
     "streetAddress": "Balaji Complex, Sigra Chauraha Rd, Gandhi Nagar, Chhittupura, Sigra",
     "addressLocality": "Varanasi, Benaras",
     "postalCode": "221010",
     "addressCountry": "IN"
   },
   "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "08:00",
      "closes": "20:59"
   },
   "geo": {
      "@type": "GeoCoordinates",
      "latitude": 25.3125277,
      "longitude": 82.9888931
    },
   "url": "{{ shop.url }}",
   {% if settings.social_logo != blank %}
   {%- assign image_size = '600x' -%}
   "logo": "{{ settings.social_logo | img_url: image_size }}",
   {% endif %}
   "contactPoint": {
     "@type": "ContactPoint",
     "contactType": "customer support",
     "email": "{{ shop.email }}",
     "url": "{{ shop.url }}"
   },
   "sameAs": [
    "{{ shop.url }}"
      {%- if settings.facebook_url != blank -%},"{{ settings.facebook_url }}"{%- endif -%}
      {%- if settings.twitter_url != blank -%},"{{ settings.twitter_url }}"{%- endif -%}
      {%- if settings.pinterest_url != blank -%},"{{ settings.pinterest_url }}"{%- endif -%}
      {%- if settings.instagram_url != blank -%},"{{ settings.instagram_url }}"{% endif -%}
     ]
   }
 </script>
 <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{
      "@type": "Question",
      "name": "Does Sumangal Banaras have a collection of banarasi sarees with a real zari? What are the cost estimations?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>Yes, Sumangal Banaras has a diverse range of collections of banarasi sarees, and the real zari collection is one of them. The cost of these versatile banarasi sarees may vary depending on motifs, zari work, and weaving techniques. For more details, please visit our store or you can connect with us at 9919982800</p>"
      }
    },{
      "@type": "Question",
      "name": "Are banarasi sarees really tough to carry and drape?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>The weight of banarasi sarees varies depending on the usage of zari work. The silk threads are woven into fabrics, to make the intricate designs of embroidery called zardozi. These beautiful embroideries might make these sarees look heavy but still, they are very easy to carry and drape.</p>"
      }
    },{
      "@type": "Question",
      "name": "Why are the banarasi sarees always in trend and in demand?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>Banarasi sarees are highly adored because of their handloom, zari work, and intricate designs. These zari works are crafted using gold, silver, and pure natural silk. Handloom sarees have always been the first choice of women. Their unique lustre and quality make them always to be in trend. </p>"
      }
    },{
      "@type": "Question",
      "name": "Where to buy original and best banarasi sarees in Varanasi?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>At Sumangal Banaras. We have been serving our customers with original and best silk clothing material for years since 1970. It is our consumers’ trust and support that has made the Sumangal Banaras as the best banarasi saree shop in Varanasi. </p>"
      }
    },{
      "@type": "Question",
      "name": "Which is the oldest banarasi saree shop in Varanasi?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>Varanasi has always attracted people towards it because of its ghats, purity, spiritualism, and banarasi sarees. Women specially visit this place to explore the best shops for banarasi sarees and buy these magnificent sarees. Although you would find numerous banarasi saree shops in Varanasi but Sumangal Banaras(Sumangal Ekam), running successfully since 1970 is one of the oldest banarasi saree shops in Varanasi(Banaras). </p>"
      }
    }]
  }
 </script>
{% elsif template contains 'article' %}
 <script type="application/ld+json">
   {
     "@context": "https://schema.org",
     "@type": "BlogPosting",
     "author": {
       "@type": "Person",
       "name": "{{ article.author }}"
     },
     "datePublished": "{{ article.created_at | date: "%F" }}",
     "headline": "{{ article.title | strip_html | escape }}",
     "image": "{{ article.image }}",
     "publisher": {
       "@type": "Organization",
       "name": "{{ shop.name }}",
       "url": "{{ routes.root_url }}"
       {% if settings.social_logo != blank %},
       {%- assign image_size = '600x' -%}
       "logo": {
         "@type": "ImageObject",
         "url": "{{ settings.social_logo | img_url: image_size }}"
       }
       {% endif %}
     },
     "dateModified": "{{ article.published_at | date: "%F" }}",
     "mainEntityOfPage": "{{ article.url }}"
   }
 </script>
{% elsif template contains 'product' %}
 <script type="application/ld+json">
   {
     "@context": "https://schema.org",
     "@type": "Product",
     "id": "{{ product.handle }}",
     "url": "{{ routes.root_url }}{{ product.url }}",
     "image": "{{ product.featured_image | img_url: '1024x' }}",
     "name": "{{ product.title | strip_html | escape }}",
     "brand": {
     	"@type": "Brand",
        "name": "{{ product.vendor | escape }}"
     },
     "description": "{{ product.description | strip_html | escape }}",
     {%- if product.variants.first.sku != blank -%}
       "sku": "{{ product.variants.first.sku }}",
     {%- else -%}
       "sku": "{{ product.variants.first.id }}",
     {%- endif -%}
     {%- if product.variants.first.barcode.size == 12 -%}
       "gtin12": {{ product.variants.first.barcode }},
     {%- endif -%}
     {%- if product.variants.first.barcode.size == 13 -%}
       "gtin13": {{ product.variants.first.barcode }},
     {%- endif -%}
     {%- if product.variants.first.barcode.size == 14 -%}
       "gtin14": {{ product.variants.first.barcode }},
     {%- endif -%}
     "offers": {
       "@type": "Offer",
       "price": "{{ product.price | money_without_currency | split: "," | join: "" }}",
       "priceCurrency": "{{ cart.currency.iso_code }}",
       "availability": "http://schema.org/InStock",
       "priceValidUntil": "2030-01-01",
       "url": "{{ product.url }}"
     }
    {%- if product.metafields.spr.reviews -%}
    ,"aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": {{ product.metafields.spr.reviews | split: 'ratingValue" content="' | last | split: '"' | first | plus: 0 }},
      "ratingCount": {{ product.metafields.spr.reviews | split: 'reviewCount" content="' | last | split: '"' | first | plus: 0 }}
    }
    {%- endif -%}
   }
 </script>
{% endif %}
